<!DOCTYPE html>
<html xmlns:th=xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Consultando Dados</title>
      
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

  
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>


	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/">Sistema Odontologico</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
			aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		
	</nav>
	<div class="container">
		<div class="row justify-content-md-center">
			<h1>Lista de Pacientes Cadastrados</h1>
		</div>
		<div class="row">
			<div class="col-lg-3">
				<a th:href="@{/cadastrarPaciente}" class=" btn btn-primary btn-sm mb-3">Cadastrar Paciente</a>
			</div>
		</div>
		<br>
		<table background:"Celestial.png" class="table table-success table-sm table-striped table-bordered ">
			<thead class="table-dark">
				<tr>
					<th scope="col">Nome</th>
					<th scope="col">Data de Nascimento</th>
					<th scope="col">Telefone</th>
					<th scope="col">cpf</th>
					<th scope="col">Email</th>
					<th scope="col">Ações</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="paciente:${paciente}">
					<td><a th:href="${(#mvc.url('PC#detalhesConsulta').arg(0, paciente.id)).build()}"><span th:text="${paciente.nome}"></span></a></td>
					<td th:text="${paciente.dataNascimento}"></td>
					<td th:text="${paciente.telefone}"></td>
					<td th:text="${paciente.cpf}"></td>
					<td th:text="${paciente.email}"></td>
						
				</tr>
			</tbody>
		</table>
	</div>
	<!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
	
</body>
</html>